## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path
dir_data = './data/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
df = app_train
print(df.shape)

(307511, 122)

#### 列出所有欄位

In [8]:
print(df.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

列出行

In [7]:
print(df.index)

RangeIndex(start=0, stop=307511, step=1)

#### 截取部分資料

序列iloc，可以用位置進行選擇要的資料

In [12]:
print(df.iloc[0:4,2:5]) #逗點前數字表示哪幾行(index)值，後面是哪幾列(columns)值)

  NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
0         Cash loans           M            N
1         Cash loans           F            N
2    Revolving loans           M            Y
3         Cash loans           F            N

序列loc，用標籤進行選擇所要的資料

In [13]:
print(df.loc[0:2])

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0
1             ...                             0                0
2             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0
1                0                0                        0.0
2                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0
1                         0.0
2                         0.0

[3 rows x 122 columns]

ㄌ

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

混和篩選ix，可以同時做位置與標籤的選擇

In [19]:
print(df.ix[:8,["TARGET","NAME_CONTRACT_TYPE"]])

   TARGET NAME_CONTRACT_TYPE
0       1         Cash loans
1       0         Cash loans
2       0    Revolving loans
3       0         Cash loans
4       0         Cash loans
5       0         Cash loans
6       0         Cash loans
7       0         Cash loans
8       0         Cash loans

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

通過判斷篩選

In [41]:
print(df[df.SK_ID_CURR<100025
])

    SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0       100002       1         Cash loans           M            N
1       100003       0         Cash loans           F            N
2       100004       0    Revolving loans           M            Y
3       100006       0         Cash loans           F            N
4       100007       0         Cash loans           M            N
5       100008       0         Cash loans           M            N
6       100009       0         Cash loans           F            Y
7       100010       0         Cash loans           M            Y
8       100011       0         Cash loans           F            N
9       100012       0    Revolving loans           M            N
10      100014       0         Cash loans           F            N
11      100015       0         Cash loans           F            N
12      100016       0         Cash loans           F            N
13      100017       0         Cash loans           M            Y
14      100018       0         Cash loans           F            N
15      100019       0         Cash loans           M            Y
16      100020       0         Cash loans           M            N
17      100021       0    Revolving loans           F            N
18      100022       0    Revolving loans           F            N
19      100023       0         Cash loans           F            N
20      100024       0    Revolving loans           M            Y

   FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                Y             0        202500.000    406597.5      24700.5
1                N             0        270000.000   1293502.5      35698.5
2                Y             0         67500.000    135000.0       6750.0
3                Y             0        135000.000    312682.5      29686.5
4                Y             0        121500.000    513000.0      21865.5
5                Y             0         99000.000    490495.5      27517.5
6                Y             1        171000.000   1560726.0      41301.0
7                Y             0        360000.000   1530000.0      42075.0
8                Y             0        112500.000   1019610.0      33826.5
9                Y             0        135000.000    405000.0      20250.0
10               Y             1        112500.000    652500.0      21177.0
11               Y             0         38419.155    148365.0      10678.5
12               Y             0         67500.000     80865.0       5881.5
13               N             1        225000.000    918468.0      28966.5
14               Y             0        189000.000    773680.5      32778.0
15               Y             0        157500.000    299772.0      20160.0
16               N             0        108000.000    509602.5      26149.5
17               Y             1         81000.000    270000.0      13500.0
18               Y             0        112500.000    157500.0       7875.0
19               Y             1         90000.000    544491.0      17563.5
20               Y             0        135000.000    427500.0      21375.0

               ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0              ...                             0                0
1              ...                             0                0
2              ...                             0                0
3              ...                             0                0
4              ...                             0                0
5              ...                             0                0
6              ...                             0                0
7              ...                             0                0
8              ...                             0                0
9              ...                             0                0
10             ...                             0                0
11             ...                             0                0
12             ...                             0                0
13             ...                             0                0
14             ...                             0                0
15             ...                             0                0
16             ...                             0                0
17             ...                             0                0
18             ...                             0                0
19             ...                             0                0
20             ...                             0                0

   FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                 0                0                        0.0
1                 0                0                        0.0
2                 0                0                        0.0
3                 0                0                        NaN
4                 0                0                        0.0
5                 0                0                        0.0
6                 0                0                        0.0
7                 0                0                        0.0
8                 0                0                        0.0
9                 0                0                        NaN
10                0                0                        0.0
11                0                0                        0.0
12                0                0                        0.0
13                0                0                        0.0
14                0                0                        NaN
15                0                0                        0.0
16                0                0                        0.0
17                0                0                        NaN
18                0                0                        0.0
19                0                0                        0.0
20                0                0                        NaN

   AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                        0.0                         0.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        NaN                         NaN
4                        0.0                         0.0
5                        0.0                         0.0
6                        0.0                         0.0
7                        0.0                         0.0
8                        0.0                         0.0
9                        NaN                         NaN
10                       0.0                         0.0
11                       0.0                         0.0
12                       0.0                         0.0
13                       0.0                         0.0
14                       NaN                         NaN
15                       0.0                         0.0
16                       0.0                         0.0
17                       NaN                         NaN
18                       0.0                         0.0
19                       0.0                         0.0
20                       NaN                         NaN

    AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0
5                         0.0                        1.0
6                         1.0                        1.0
7                         0.0                        0.0
8                         0.0                        0.0
9                         NaN                        NaN
10                        1.0                        0.0
11                        0.0                        0.0
12                        1.0                        0.0
13                        0.0                        0.0
14                        NaN                        NaN
15                        0.0                        0.0
16                        0.0                        1.0
17                        NaN                        NaN
18                        0.0                        0.0
19                        0.0                        0.0
20                        NaN                        NaN

    AMT_REQ_CREDIT_BUREAU_YEAR
0                          1.0
1                          0.0
2                          0.0
3                          NaN
4                          0.0
5                          1.0
6                          2.0
7                          0.0
8                          1.0
9                          NaN
10                         0.0
11                         2.0
12                         0.0
13                         1.0
14                         NaN
15                         1.0
16                         0.0
17                         NaN
18                         0.0
19                         2.0
20                         NaN

[21 rows x 122 columns]